* {
  box-sizing: border-box;
}

body {
  margin: 2.5em auto;
  max-width: 40em;
  padding: 0 0.62em;
  font: 1.2em/1.62 sans-serif;
  background-color: $black;
  color: $cream;
}

::selection {
  background: $pink;
}

img {
  max-width: 300px;
  height: auto;
  display: block;
  margin: 0 auto 1em auto;
}

nav ul {
  border: 2px solid $cream;
  border-radius: 3px;
  list-style-type: none;
  font-family: monospace;
  text-align: center;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 15px;
  display: block;
}

a,
a:visited,
a:active {
  color: $orange;
  &:hover {
    color: $cream;
  }
}

h1 {
  text-shadow: -1px 3px 3px rgba(0, 0, 0, 1);
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

blockquote {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 1em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  padding-right: 0.8em;
  border-left: 5px solid $orange;
  margin-bottom: 2.5rem;
  background: #4a4a4a;
}

blockquote p {
  margin-top: 0;
  margin-bottom: 0;
}