* {
  box-sizing: border-box;
}

body {
  margin: 2.5em auto;
  max-width: 40em;
  padding: 0 0.62em;
  font: 1.2em/1.62 sans-serif;
  background-color: #282828;
  color: #ebdbb2;
}

img {
  max-width: 300px;
  height: auto;
  display: block;
  margin: 0 auto 1em auto;
}

nav ul {
  border: 2px solid #ebdbb2;
  border-radius: 3px;
  list-style-type: none;
  font-family: monospace;
  text-align: center;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 15px;
  display: block;
}

a,
a:visited,
a:active {
  color: #b16300;
}

h1 {
  text-shadow: -1px 3px 3px rgba(0, 0, 0, 1);
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
